.formBlock {
  padding: 1rem;
  background-color: rgb(220, 228, 243);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  button {
    background-color: white;
    border-radius: 0.5rem;
    border: none;
    height: 2rem;

    &:active {
      background-color: rgb(244, 244, 244);
    }
  }
}
