.contactCard {
  display: flex;
  gap: 0.5rem;
  background-color: white;
  border-radius: 0.5rem;
  padding: 1rem;

  .icons {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
}
